
<h1>privacy Lock Form</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form #signUp="ngForm" (ngSubmit)="onsignUp(signUp)">

       <div ngModelGroup="userDetails">
        <div class="form-group">
          <label for="username">Username*</label>
          <input type="text" pattern="[a-zA-Z]+" required ngModel name="username" #username="ngModel" id="username" class="form-control">
          <ng-container *ngIf="username.touched">
            <p class="alert alert-danger mt-2" *ngIf="username.hasError('required')">Username is a required field...!!!</p>
          <p class="alert alert-danger mt-2" *ngIf="username.hasError('pattern')">Username Should Not Includes Numbers And Special Characters...!!!</p>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="email">Email*</label>
          <input type="text" required ngModel pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" #email="ngModel" name="email" id="email" class="form-control">
         <ng-container *ngIf="email.touched">
          <p class="alert alert-danger mt-2" *ngIf="email.hasError('required')">Email is a required field...!!!</p>
          <p class="alert alert-danger mt-2" *ngIf="email.hasError('pattern')">Please Enter Valid Email Id...!!!</p>

         </ng-container>
        </div>
       </div>

        <div class="form-group">
          <label for="selectQuestion">Select Question*</label>
          <select name="selectQuestion" required ngModel #selectQuestion="ngModel" id="selectQuestion" class="form-control">
            <option value="Favourite Song">Favourite Song</option>
            <option value="Favourite Game">Favourite Game</option>
          </select>
          <p class="alert alert-danger mt-2" *ngIf="selectQuestion.touched && selectQuestion.hasError('required')">Select Question is a required field...!!!</p>
        </div>

        <div class="form-group">
          <label for="Answer">Answer*</label>
          <input type="text" required ngModel #answer="ngModel" name="answer" id="answer" class="form-control">
          <p class="alert alert-danger mt-2" *ngIf="answer.touched && answer.hasError('required')">Answer is a required field...!!!</p>
        </div>

        <div class="form-group">
          <label for="isSubscribed">
            <input type="checkbox" ngModel name="isSubscribed" id="isSubscribed"> Subscribe To Email
          </label>
        </div>

        <div class="form-group" *ngFor="let mode of contactMode">
            <label [for]="mode.moc">
              <input type="radio" name="contactMode" ngModel [id]="mode.moc" [value]="mode.moc"> {{mode.moc}}
            </label>
        </div>

        <div class="text-right">
          <button class="btn btn-primary" type="submit" [disabled]="signUp.invalid">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>