

.container {
    border: 3px solid black;
    padding: 10px;
    margin-top: 30px;
    background-color: darkblue;
    color: green;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 1px 1px 1px white;
    box-shadow: 1px 0px 6px 2px black;
}

h1 {
    background-color: darkblue;
    color: green;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}